onlyBuiltDependencies[]=canvas
onlyBuiltDependencies[]=esbuild
# Supply-chain hardening (added 2026-05-13)
ignore-scripts=true
minimum-release-age=10080   # 7 days in minutes
# Trusted publishers exempt from the release-age quarantine
minimum-release-age-exclude[]=typescript
minimum-release-age-exclude[]=@typescript/*
